# Binary
tewodros-terminal
tewodros-terminal-**
*.exe

# SQLite
*.db
*.db-journal
*.db-wal
*.db-shm

# SSH keys
.ssh/

# IDE
.vscode/
.idea/

# TLS certificates
*.crt
*.key
*.pem

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
